<section class="sakura-page-section sakura-footer">
  <div class="sakura-container container-fluid">
    <div class="row">
      <div class="sakura-col">
          <div class="sakura-footer__container">
        <div class="row">
          <div class="col-sm-2">
           <p>© Copyright {{"now"|date("Y")}}</p>
            {{ content.field_privacy_policy_link }}
          </div>
          <div class="col-sm-2">
            {{ content.body }}
          </div>
          <div class="col-sm-2 col-sm-push-6 sakura-footer__link-up">
            {{ content.field_back_to_the_top_link }}
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>


