{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
 <section class="sakura-page-section">
   <div class="sakura-container container-fluid">
    <div class="row">
      <div class="sakura-col">
        <div class="row">
          <div class="sakura-image-text">
            <div class="col-sm-push-6 col-md-9 col-md-push-3">
              <div class="sakura-image-text__image">
                {{ content.field_image }}
              </div>
            </div>
            <div class="col-sm-6  col-lg-6">
              <div class="sakura-image-text__text-container">
                {{ content.body }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
