{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

<section class="sakura-page-section">
  <div class="sakura-container container-fluid">
    <div class="sakura-contact">
      <div class="row">
        <div class="sakura-col padding-reset">

          <div class="sakura-contact__info">
            <h2>{{ label }}</h2>
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="sakura-contact__info__address">
                    <div class="col-sm-6">
                      <p class="margin-reset">{{ content.field_address_1 }}</p>
                    </div>
                    <div class="col-sm-6">
                      <p class="margin-reset">{{ content.field_address_2 }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 padding-reset">
                <div class="row">
                  <div class="sakura-contact__info__opening">
                    <div class="col-sm-4 col-sm-push-4">
                      <p class="margin-reset">{{ content.field_opening_hours_1 }}</p>
                    </div>
                    <div class="col-sm-3 col-sm-push-5 padding-reset">
                      <p class="margin-reset">{{ content.field_opening_hours_2 }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="sakura-contact__map">
              <div class="col-xs-12">
                {{ content.body }}
                <div id="map" data-map></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{# <p><iframe allowfullscreen="" frameborder="0" height="600" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d371.14998160053483!2d12.501518905776631!3d41.91006227921963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f610be6fa82b1%3A0x2de508b9f91b4a8e!2sSakura+Sushi+Ristorante+giapponese+Roma!5e0!3m2!1sen!2suk!4v1492856504361" width="800"></iframe></p>
 #}

<script>
   var map;
   function initMap() {
    var sakuraLoc = {lat: 41.910123, lng: 12.501568};
     map = new google.maps.Map(document.getElementById('map'), {
       zoom: 19,
       center: sakuraLoc,
       styles: [
    {
        "featureType": "all",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "saturation": 36
            },
            {
                "color": "#000000"
            },
            {
                "lightness": 40
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#000000"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 17
            },
            {
                "weight": 1.2
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 21
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 17
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 29
            },
            {
                "weight": 0.2
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 18
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 19
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 17
            }
        ]
    }
]
     });
     var marker = new google.maps.Marker({
       position: sakuraLoc,
       map: map
     });
   }
 </script>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5XbppkoIY7gDag0AMAHaem4KJVIrZ7UM&callback=initMap"
 async defer></script>
