 <section class="sakura-page-section">
   <div class="sakura-container container-fluid">
     <div class="row">
       <div class="sakura-col">
          <div class="row">
            <div class="sakura-image-text">
              <div class="col-xs-push-6 col-sm-push-0 col-sm-10 col-md-8">
                <div class="sakura-image-text__image">
                  {{ content.field_image }}
                </div>
              </div>
              <div class="col-sm-6 col-sm-push-6">
                <div class="sakura-image-text__text-container">
                  {{ content.body }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
