{% for item in items %}
  <div{{ item.attributes.addClass('field__item') }}>{{ item.content.value_one }}</div>
  <div{{ item.attributes.addClass('field__item') }}>{{ item.content.value_two }}</div>
  <div{{ item.attributes.addClass('field__item') }}>{{ item.content.value_three }}</div>
  <div{{ item.attributes.addClass('field__item') }}>{{ item.content.value_four }}</div>
  <div{{ item.attributes.addClass('field__item') }}>{{ item.content.value_five }}</div>
{% endfor %}