// Brand font
@font-face {
  font-family: 'Butler';
  src: url('../fonts/Butler/Butler_Bold.otf') format("opentype");
  font-weight: 500;
  font-style: normal;
}

// Icons
// @font-face {
//   font-family: 'icomoon';
//   src:  url('../fonts/icomoon.eot?v3');
//   src:  url('../fonts/icomoon.eot?v3#iefix') format('embedded-opentype'),
//     url('../fonts/icomoon.ttf?v3') format('truetype'),
//     url('../fonts/icomoon.woff?v3') format('woff'),
//     url('../fonts/icomoon.svg?v3#icomoon') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
