// Bootstrap grid mixins
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid-framework';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid';

// Grid factory
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid';


.container-fluid{
  padding: 0;
  max-width: 1500px;
}

.sakura-col {
  padding: 0;
  @extend .col-xs-10;
  @extend .col-xs-offset-1;
}

@media (min-width: $screen-sm-min) {
  .sakura-col {
    padding-left: 40px;
    padding-right: 40px;
  }
}