// Scaffolding works a bit like resets, but rather adds some base properties
// to ensure maximum compatibility

* {
  box-sizing: border-box;
}

body {
  background: $colour-black;
}

// main {
//   max-width: 1500px;
//   margin: 0 auto;
// }

.page-title {
  text-align: center;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

.sakura-container {
  padding: 0;
}


@media (min-width: $screen-sm-min) {
  .sakura-page-section {
    padding: 100px 0px;
  }
}