.sakura-button {
  text-align: center;
  position: relative;
  color: $colour-grey-dark;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.3em;
  border: 1px solid rgba(5,5,5,0.5);
  font-family: $font-family-light;
  padding: 25px 36px 15px 28px;
  transition: padding 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
              border 0.3s cubic-bezier(0.25,0.46,0.45,0.94);

  &:hover {
    padding: 20px 32px 20px 32px;
    border-color: transparent;
    &:before {
      transform: translateX(0px) translateY(0px);
      border-color: $colour-grey-dark;
    }
  }

  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    border: 1px solid rgba(5,5,5,0.5);
    transform: translateX(-8px) translateY(8px);
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
                border 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  }

  &--light {
    color: $colour-grey-light;
    border-color: $colour-grey-light;

    &:hover {
      &:before {
        border-color: $colour-grey-light;
      }
    }

    &:before {
      border-color: $colour-grey-light;
    }
  }
}