@keyframes stripes {
  to {
    background-size:100% 100%;
  }
}

.sakura-carousel {
  .owl-prev,
  .owl-next  {
    position: absolute;
    top: 30%;
    width: 50px;
  }

  .owl-prev {
    margin: auto;
    background: linear-gradient(white ,white) $colour-grey-light no-repeat 0 0;
    background-size: 0 100%;
    animation: stripes 3s ease-in-out infinite;
  }

  .nav-prev-text {
    display: table;
    color: $colour-grey-light;
    background: $colour-black;
    width: 100%;
    mix-blend-mode: multiply;

    &:after {
      right: 0;
      content: " ";
      display: block;
      position: absolute;
      width: 20px;
      height: 1px;
      top: 50%;
      border-top: 1px solid $colour-grey;
    }
  }

  .owl-next {
    right: 0;
    text-align: right;
    &:before {
      left: 0;
      content: " ";
      display: block;
      position: absolute;
      width: 20px;
      height: 1px;
      top: 50%;
      border-top: 1px solid white;
    }
  }
}