.sakura-contact{

  h2 {
    font-size: $font-rem-xl;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5px;
  }


  &__info,
  &__map {
    padding: 0 40px 21px;
  }

  &__info {
    font-size: 17px;
    &__address {
      padding-top: 42px;
      div {
        &:first-of-type {
          border-right: 1px solid white;
        }
      }
    }

    &__opening {
      text-transform: uppercase;
    }
  }

  &__map {
    iframe{
      min-width: 100%;
    }

    #map {
      height: 500px;
      a[href^="http://maps.google.com/maps"],
      a[href^="https://maps.google.com/maps"],
      a[href^="https://www.google.com/maps"] {
          display: none !important;
      }
      .gmnoprint:not(.gm-bundled-control) {
          display: none;
      }
      .gm-bundled-control .gmnoprint {
          display: block;
      }

    }

    // a[href^="http://maps.google.com/maps"],
    // a[href^="https://maps.google.com/maps"],
    // a[href^="https://www.google.com/maps"] {
    //     display: none !important;
    // }
    // .gmnoprint:not(.gm-bundled-control) {
    //     display: none;
    // }
    // .gm-bundled-control .gmnoprint {
    //     display: block;
    // }
  }
}
