.sakura-footer {
  background: black;

  &__container {
    padding: 0 40px;
  }

  p,
  a {
   font-size: $font-rem-xs-md;
  }

  &__link-up {
    margin-left: 24px;
    a {
      @extend .sakura-button;
      @extend .sakura-button--light;
    }
  }
}