.sakura-image-text{
  &__image {
    position: relative;
    z-index: 1;
  }

  &__text-container{
    h2 {
      text-transform: uppercase;
      font-family: $font-family-secondary;
      font-size: $font-rem-xl;

    }

    color: black;
    height: 100%;
    margin-top: -100px;
    text-align: center;
    padding: 90px 85px 15%;
    line-height: 1.6;
    font-size: $font-rem-sm;
    background: $colour-grey-light;
    transition: all .2s ease-out;
  }
}

@media (min-width: $screen-sm-min) {
  .sakura-image-text{
    &__image {
      z-index: initial;
      position: absolute;

      &:before {
        content: "";
        z-index: 3;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 5px;
        right: 0;
        opacity: 0.6;
        background: $colour-black url(../img/3_flower_BG.png) top  left repeat;
        background-blend-mode: hard-light;
      }

      img{
        position: relative;
        z-index: 5;
      }
    }

    &__text-container {
      position: relative;
      z-index: 3;
      margin-top: 75px;
      padding: 50px 50px 15%;
    }
  }
}

@media (min-width: $screen-md-min) {
  .sakura-image-text{
    &__text-container {
      padding: 90px 85px 15%;
    }
  }
}