.sakura-menu {
  @keyframes fadeIn {
    from { opacity: 0; }
  }

  @keyframes fadeOut {
    to { opacity: 0; }
  }

  color: $colour-white;
  background: $colour-black;


  ul {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 75px;
  }

  &__trigger {
    color: $colour-white;
    font-size: $font-rem-sm-md;
    text-transform: uppercase;
    letter-spacing: 0.20em;
    padding-bottom: 15px;
    text-decoration: none;
    border-bottom:  1px solid $colour-grey-dark;
  }

  &__container {
  margin-top: 200px;
  height: auto;
  overflow: hidden;
  max-height: 0em;
  transition: max-height 1s ease-out;
  color: $colour-black;
  background: $colour-grey-light;
  visibility: visible;

  a {
    color: $colour-black;
  }

  section {
    height: auto;
    display: block;
    width: 100%;
    z-index: 1;
  }

  .view-grouping {
    padding: 40px 0;
  }


  &__close {
    height: 30px;
    width: 30px;
    border: 1px solid $colour-grey;
    border-radius: 100%;
    display:block;
    position: relative;
    margin: 40px auto;


     a {
        font-size: 14px;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        padding: 30%;
        text-decoration: none;
        color: $colour-grey;
     }
  }


  &__header {
    padding-bottom: 70px;

    h2 {
     text-align: center;
     font-family: $font-family-secondary;
     font-size: 30px;
     text-transform: uppercase;
     letter-spacing: 0.25em;
     margin: 0;
    }

    &__nav {
      font-size: $font-rem-md;
      color: $colour-grey;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0 45px;

      &:before,
      &:after {
       content: "";
       position: absolute;
       width: 10px;
       height: 15px;
       display:block;
       top: 7px;
      }

      &--prev {
        &:before {
          background: url('../img/chevron.svg');
          left: 0;
        }
      }

      &--next {
        &:after {
          background: url('../img/chevron.svg');
          transform: rotateY(180deg);
          right: 0;
        }
      }
    }
  }

  &__body {
    &__col {
      max-width: 85%;
    }
    .last {
      .sakura-menu__container__body__col {
        float: right;
      }
    }
  }


    &.is-menu-open {
      max-height: 1000em;
      .view-grouping {
        animation: fadeIn 2s 1 forwards;
      }
    }

    &.is-menu-open.is-menu-close {
      max-height: 0em;
      transition: max-height .6s ease-out;
      .view-grouping {
        animation: fadeOut .6s 1 forwards;
      }
    }
  }

  &__group {
    padding: 40px 0;
  }

  &__title-section {
    border-bottom: 1px solid $colour-grey;
    h3 {
      font-size: $font-rem-md;
      font-family: $font-family-secondary;
      letter-spacing: 0.25em;
      color: $colour-black;
      text-transform: uppercase;
    }

    .sakura-menu__description {
      padding-left: 0;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__description {
    width: 80%;
    position: relative;
    display: inline-block;
    border-right: 1px solid rgba(5,5,5,0.2);
    padding: 0 50px 6px 35px;

    &__ref {
      font-family: $font-family-secondary;
      letter-spacing: 0.25em;
      font-size: $font-rem-xs-lg;
      color: $colour-grey;
      text-transform: uppercase;
      position: absolute;
      top: 20px;
      bottom: 0;
      left: 0;
    }

    &__name {
      font-size: $font-family;
      font-size: $font-rem-sm-md;
      letter-spacing: 0.2em;
      color: $colour-black;
      position: relative;
      margin-top: 2.3rem;
    }

    &__body {
      font-size: $font-family;
      letter-spacing: 0.2em;
      color: $colour-grey;
      position: relative;
      font-size: $font-rem-xs-lg;

      p {
        margin-top: 0.5rem;
        margin-bottom: 0;
      }
    }
  }

  &__price {
    display: inline-block;
  }

}