{#
/**
 * @file
 * Theme override to display a single views grouping.
 *
 * Available variables:
 * - view: The view object.
 * - grouping: The grouping instruction.
 * - grouping_level: A number indicating the hierarchical level of the grouping.
 * - title: The group heading.
 * - content: The content to be grouped.
 * - rows: The rows returned from the view.
 *
 * @see template_preprocess_views_view_grouping()
 */
#}

<li>
  <div class="col-sm-3">
    <a href="" class="sakura-menu__trigger" data-menu-trigger>{{ title }}</a>
  </div>

  <section id="my_page_id" class ="noshow" data-menu-content>
    <div class="container-fluid">
      <div class="row">
        <div class="sakura-col padding-reset">
          <div class="view-grouping">
            <div class="sakura-menu__container__header">
              <div class="row">
                <div class="col-xs-12">
                  <div class="sakura-menu__container__close" data-menu-close>
                    <a href="#">X</a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 buffer-xs">
                  <a href=""
                     class="sakura-menu__container__header__nav sakura-menu__container__header__nav--prev"
                     data-menu-previous data-menu-nav>
                  </a>
                </div>
                <div class="col-sm-6 text-center">
                  <h2>
                    {{ title }}
                  </h2>
                </div>
                <div class="col-sm-3 text-right buffer-xs">
                  <a href=""
                    class="sakura-menu__container__header__nav sakura-menu__container__header__nav--next "
                    data-menu-next data-menu-nav>
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 padding-reset">
                <div class="sakura-menu__container__body" data-menu-main>
                  <div class="sakura-menu__container__body__col">
                    {{ content }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</li>