{#
/**
 * @file
 * Theme override for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 */
#}

  {% if title %}
    <div class="sakura-menu__title-section">
      <div class="sakura-menu__description">
        <h3>{{ title }} 2</h3>
      </div>
      {# <div class="sakura-menu sakura-menu__price">
        <p>{{ view.getItem('description').value }}</p>
      </div> #}
    </div>
  {% endif %}

  <div class="">
    <ul class="sakura-menu__list">
      {% for row in rows %}
        <li class="sakura-menu__item dontsplit">
          {{ row.content }}
        </li>
      {% endfor %}
    </ul>
  </div>
