{% extends 'paragraph.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col-xs-10 col-xs-push-1">
      <div class="row">
        <div class="sakura-image-text">
          <div class="col-xs-push-6 col-sm-push-0 col-sm-10 col-md-8">
            <div class="sakura-image-text__image">
              {{ content.field_image }}
            </div>
          </div>
          <div class="col-sm-6 col-sm-push-6 col-md-push-5 col-lg-5">
            <div class="sakura-image-text__text-container">
              {{ content.field_main_text }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}