// Variables
// ---

// Bootstrap variables
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';


// Colours
$colour-white: #FFFFFF;
$colour-black: #0B0B0B;
$colour-grey-dark: #505050;
$colour-grey: #898989;
$colour-grey-light: #eaeaea;


// Dimensions
$dimension-border-width: 1px;
$dimension-padding: ($grid-gutter-width / 2);
$dimension-padding-lg: $grid-gutter-width;
$dimension-padding-xl: ($grid-gutter-width * 2);

// Fonts
$font-family: 'TruenoRegular' , Helvetica, Arial;
$font-family-light: 'TruenoLight' , Helvetica, Arial;
$font-family-secondary: 'Butler', Arial, sans-serif;
$font-size: 1rem; //16px
$font-colour: $colour-grey-light;
$font-line-height: 1.25;

//Fonts size
$font-rem-xs: 0.5rem; //9px ;
$font-rem-xs-sm: 0.5556rem; //10px;
$font-rem-xs-md: 0.6111rem; //11px;
$font-rem-xs-lg: 0.6667rem; //12px;
$font-rem-xs-xl: 0.7222rem; //13px;
$font-rem-sm:  0.7778rem; //14px;
$font-rem-sm-md: 0.8333rem; //15px;
$font-rem-sm-lg: 0.8889rem; //16px;
$font-rem-sm-xl: 0.9444rem; //17px;
$font-rem-md: 1.111rem; //20px;
$font-rem-md-lg: 1.222rem; //22px;
$font-rem-md-xl: 1.389rem; //25px;
$font-rem-lg: 1.667rem; //30px;
$font-rem-xl: 2.222rem; //40px;
$font-rem-xxl: 3.333rem; //60px;
